<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L0</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Order Information</h1>
        <div class="search-box">
            <input type="text" id="orderId" placeholder="Enter Order ID">
            <button id="searchBtn">Search</button>
        </div>
        <pre id="result">Enter order ID and click "Search"</pre>
    </div>
    <script src="/static/js/app.js"></script>
</body>
</html>